/* BACKGROUNDS */
{}
  .forest{
    position: absolute;
    width: 100%;
    height: 19rem;
    margin-top: -19rem;
    background-color: green;
    background-image: url('../../img/backgrounds/forrest.gif');
    background-size: 101.5% 100%;
    background-repeat: no-repeat;
    background-position: absolute;
  }
