/* BACKGROUNDS */
{}
  .forrest{
    position: absolute;
    width: 98.8%;
    height: 18.4rem;
    margin-top: -19rem;
    background-color: green;
    background-image: url('../../img/backgrounds/forrest.png');
    background-size: 101.5% 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    border: 0.4rem solid red;
    border-top: 0.3rem solid darkred;
    border-bottom: 0.3rem solid darkred;
  }
  .field{
    position: absolute;
    width: 98.8%;
    height: 18.4rem;
    margin-top: -19rem;
    background-color: green;
    background-image: url('../../img/backgrounds/field.png');
    background-size: 101.5% 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    border: 0.4rem solid red;
    border-top: 0.3rem solid darkred;
    border-bottom: 0.3rem solid darkred;

  }
  .fieldOverlay{
    position: absolute;
    width: 98.8%;
    height: 18.4rem;
    margin-left: 0.4rem;
    margin-top: -18.7rem;
    background-position: bottom;
    background-image: url('../../img/backgrounds/fieldOverlay.gif');
    background-size: 20rem 6rem;
    background-repeat: repeat-x;
    background-position: absolute;
    z-index: 1;
  }
  .forrestOverlay{
    position: absolute;
    width: 98.8%;
    height: 18.4rem;
    margin-left: 0.4rem;
    margin-top: -18.7rem;
    background-position: bottom;
    background-image: url('../../img/backgrounds/fieldOverlay.gif');
    background-size: 20rem 6rem;
    background-repeat: repeat-x;
    background-position: absolute;
    z-index: 1;
  }
